.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin-top: 10px;
  align-items: start;
}

.formControl input {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  outline: 1px solid #ccc;
  border: 1px solid #ccc;
}

.formControl input:focus {
  outline: 1px solid #7c3aed;
  border: 1px solid #7c3aed;
}

.addContactBtn,
.cancelBtn {
  width: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: bold;
}

.addContactBtn {
  background-color: #7c3aed;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.cancelBtn {
  background-color: rgb(255, 79, 79);
}

@media screen and (max-width: 540px) {
  .form {
    width: 90%;
  }
}
