.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}

.addContactBtn {
  border: 3px solid rgb(144, 85, 255);
  background-color: white;
  color: rgb(144, 85, 255);
  cursor: pointer;
  font-weight: bold;
  padding: 0.2em 1em;
  border-radius: 10px;
  margin: 0.5em 0;
}

.searchInput {
  padding: 0.5em;
  border: none;
  outline: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 0.5em;
}

.searchInput:focus {
  outline: 2px solid rgb(144, 85, 255);
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 500px;
  margin: 0 auto;
  margin-top: 1em;
}

.contact {
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.contactInfo {
  display: flex;
  gap: 1em;
  text-decoration: none;
  color: black;
}

.contactInfoText {
  text-align: start;
  font-weight: bold;
}

.contactBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.removeContactBtn {
  height: fit-content;
  border: 3px solid rgb(255, 79, 79);
  background-color: white;
  color: rgb(255, 79, 79);
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.link {
  text-decoration: none;
}

.editContactBtn {
  height: fit-content;
  border: 3px solid rgb(124, 112, 255);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  color: rgb(124, 112, 255);
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 10px;
}

@media screen and (max-width: 540px) {
  .listHeader {
    width: 90%;
  }

  .contactList {
    width: 90%;
  }

  .contactInfo {
    flex: 1;
    word-wrap: break-word;
  }

  .contactInfoText {
    font-size: 1rem;
  }

  .contactBtns {
    flex-direction: column;
  }

  .editContactBtn,
  .removeContactBtn {
    width: 50px;
    font-size: 10px;
  }

  .searchBarContainer {
    width: 90%;
  }
}
